absl-py==0.1.10
appnope==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
boto==2.48.0
boto3==1.7.50
botocore==1.10.50
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
click==6.7
configparser==3.5.0
cycler==0.10.0
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.3
Flask-MySQL==1.4.0
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gensim==3.4.0
h5py==2.8.0
html5lib==0.9999999
idna==2.7
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.6
llvmlite==0.25.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.5.0
numba==0.40.1
numpy==1.14.3
pandocfilters==1.4.2
pathlib2==2.3.2
pbr==3.1.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.6.0
Pygments==2.2.0
PyMySQL==0.8.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.20.1
s3transfer==0.1.13
scandir==1.7
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.6.0
subprocess32==3.2.7
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
umap-learn==0.3.5
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.2.1
